:root {
    --app-background: #adbdba;
    --app-card-background: #e8e7e1;
    --app-footer-background: #364f39;
    --app-dark-text-color: #363c4f;
    --app-dark-button: #121c3d;
    --app-dark-button-hover: #363c4fa5;
    --app-part-border: #aaa;
}